#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

.slot-container {
  height: 0.75lh;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: auto; /* Allow it to expand based on the content */
  min-width: 1ch; /* Minimum width for a single character */
  max-width: 100%; /* Ensure the width doesn’t overflow */
  line-height: 1;
}

@keyframes glow {
  0% {
    background-color: lightgray;
  }
  50% {
    background-color: #eeeeee; /* Lighter gray */
  }
  100% {
    background-color: lightgray;
  }
}
